// Text Color
$white: rgb(254, 255, 251);
$whiteDark: rgb(255, 219, 255);
$headingDark: rgb(70, 65, 149);
$textDark: rgb(66, 62, 146);
$textBlack: rgb(91, 91, 91);
$lightBlue: rgb(39, 141, 203);
$yellow: rgb(250, 214, 6);
$textLight: rgb(106, 103, 134);

// Background
$background: rgb(237, 7, 139);
$btnPrimary: rgb(16, 217, 224);
$btnSecondary: rgb(240, 7, 134);
$backgroundPink: rgb(255, 242, 249);
$backgroundLight: rgb(255, 249, 233);
$darkBlue: rgb(66, 85, 164);